/*from SMACCS
Module Rules

 A Module is a more
discrete component of the page. It is your navigation bars and your
carousels and your dialogs and your widgets and so on. This is the
meat of the page. Modules sit inside Layout components. Modules can
sometimes sit within other Modules, too. Each Module should be designed
to exist as a standalone component. In doing so, the page will be more
flexible. If done right, Modules can easily be moved to different parts
of the layout without breaking.

When defining the rule set for a module, avoid using IDs and element
selectors, sticking only to class names. A module will likely contain
a number of elements and there is likely to be a desire to use
descendent or child selectors to target those elements.*/

/*Color Scheme
Fresh #F7EF6A        the yellow
Vermillion #93C178   the green
Sunshine #465C8B     the blue, oddly enough
Clean #DFDCE3        The clearish white*/

/*font-family: 'Black Ops One', cursive; HEADER ONLY
font-family: 'Sarala', sans-serif;*/
.fa {
  color: #F7EF6A;
}

.mainNav li {
  color: ;
  font-size: 3em;
  text-decoration: none;
  display: inline-block;
  float: right;
  padding-right: .5em;
}

.siteInfo {
  font-size: 3em;
  color: white;
  margin: auto;
  border-radius: 20px;
  background-color: rgba(70, 92, 139, .85);
  padding: 1em;
  max-width: 80%;
}
